*.pt
__pycache__
sn1_tcpdump.log
sniff_ota.pcap
two_stations_wifi_backup.py
*.mp4
carla-0.9.10-py3.7-linux-x86_64.egg 
scripts/mininet/mn5956_ap1-wlan1.apconf
scripts/mininet/pcaps/*
*tcpdump.log
scripts/mininet/pcap_features/*
scripts/mininet/video_features/*
scripts/mininet/pcap_features_backup/*
scripts/mininet/dataset/*
scripts/mininet/test_pcap_features/*
scripts/mininet/test_video_features/*
scripts/mininet/test_pcaps/*
scripts/mininet/test_videos/*
scripts/test_videos/TEST_camera_25_frame_sizes.png
scripts/test_videos/TEST_camera_25_frames.csv
scripts/test_videos/TEST_camera_25_frames.txt
scripts/mininet/video_features_backup
global_label_test_videos/
*input.json
scripts/camera_configs.txt
**/out
**/tmp
**/plots
**/events